.noteref {
  vertical-align: super;
  text-decoration: none;
  padding: 0.1em;
  border-radius: 0.2em;
  font-size: 0.8em;
}
/* Prevent the browser (Webkit anyway) from outlining the anchor matching the current
   URL fragment, because it's ugly */
.noteref:target {
  outline: none;
}

aside.endnote {
  margin: 0px;
  margin-bottom: 1em;
  font-size: 0.7em;
}

section.endnotes {
  counter-reset: endnote;
  /* Establish a positioning context, so that children position appropriately. */
  position: relative;
  margin: 2em 0 2em 1.5em;
  font-size: 1.2em;
}

aside.endnote::before {
  content: counter(endnote) ".";
  counter-increment: endnote;
  position: absolute;
  left: -1.5em;
}

/* Remove margin from paras at top and bottom of endnotes because we prefer to control
   spacing on their parents.
   The line-height tweak is required to get <p> within <li>
   to behave the same as naked content within <li>. Otherwise <p> content sits slightly lower
   and doesn't align with the number to the left. Any content in the line that makes it taller
   than an ordinary text line will still break it. */
aside.endnote > p:first-child { margin-top: 0px; line-height: normal; }
aside.endnote > p:last-child { margin-bottom: 0px; }

#endnote-box > p:first-child { margin-top: 0px; line-height: normal; }
#endnote-box > p:last-child { margin-bottom: 0px; }

#endnote-box {
  font-size: 14px;
  background: white;
  padding: 10px;
  margin: 10px;
  border: 1px solid #888;
  -moz-box-shadow: 0px 0px 5px #888;
  -webkit-box-shadow: 0px 0px 5px #888;
  box-shadow: 0px 0px 5px #888;
}
